#font1 {
    font-size: 30px;
    font-family: 'Barriecito', cursive;
    font-weight: 500;
    letter-spacing: 5px;
    text-align: center;
}

#font2 {
    font-size: 40px;
    font-family: 'DoHyeon'
    font-weight: 500;
    letter-spacing: 5px;
    text-align: center;
}