{% extends 'base.html' %}

{% block body %}
<h2 class="text-center">NEW</h2>
<form action="{% url 'movies:create' %}" method="POST">
    {% csrf_token %}
    <label for="title">Title</label>

    <input type="text" name = "title" id="title"><br>
    <label for="title_en">Title_EN</label>

    <input type="text" name = "title_en" id="title_en"><br>
    <label for="title">audience</label>

    <input type="number" name = "audience" id="title"><br>
    <label for="title">open_data</label>

    <input type="open_data" name = "open_data" id="title"><br>
    <label for="title">genre</label>

    <input type="text" name = "genre" id="title"><br>
    <label for="title">watch_grade</label>

    <input type="text" name = "watch_grade" id="title"><br>
    <label for="title">score</label>

    <input type="number" name = "score" id="title"><br>
    <label for="title">poster_url</label>

    <input type="text" name = "poster_url" id="title"><br>
    <label for="title">description</label>

    <textarea name="description" id="description" cols="30" rows="10"></textarea>
    <input type="submit" value="영화 입력">

</form>
{% endblock %}

